@charset "utf-8";
/* # reset
---------------------------------------------------------------------------- */
html {
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, li, table, th, td, form, address, pre, caption, cite, code, dfn, var {
	font-size: 100%;
	font-style: normal;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
img {
	border: 0;
	vertical-align: bottom;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
ol, ul {
	list-style: none;
}
body {
	background: #fff;
	color: #231f20;
	font-size: 14px;
	font-family: 'robotoregular';
	line-height: normal;
	position: relative;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
@font-face {
	font-family: 'robotobold';
	src: url('fonts/roboto-bold.woff2') format('woff2'), url('fonts/roboto-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoregular';
	src: url('fonts/roboto-regular.woff2') format('woff2'), url('fonts/roboto-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoblack';
	src: url('fonts/roboto-black.woff2') format('woff2'), url('fonts/roboto-black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* # style
---------------------------------------------------------------------------- */
body.login {
	background: url(../images/bg_login.jpg) repeat 0 0;
}
.loginBox {
	position: relative;
	min-height: 100vh;
}
.loginBox h1 {
	text-align: center;
	padding-top: 10px;
}
.loginBox h1 img {
	max-width: 100%;
}
.loginBox .copyright {
	text-align: center;
	font-size: 16px;
	color: #fff;
	font-family: 'robotoregular';
	padding-top: 0;
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
}
.loginBoxInner {
	margin: 0 auto;
	width: 100%;
	max-width: 370px;
	padding-top: 10px;
}

.loginWrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding-top: 50px;
}

.loginWrapper h2 {
	font-size: 30px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.loginWrapper h3 {
	font-size: 16px;
	color: #ffff00;
	margin: 10px auto;
}

.loginBoxInner ul {
}
.loginBoxInner ul li {
	margin-top: 35px;
	color: #fff;
	font-size: 14px;
}
.loginBoxInner ul li:nth-child(2) {
	margin-top: 20px;
}
.loginBoxInner ul li input.user {
	width: 100%;
	border: 1px solid #fff;
	border-radius: 0;
	background: #fff url(../images/user.png) no-repeat 15px center;
	color: #232323;
	background-size: 27px 25px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	font-family: 'robotobold';
	font-size: 14px;
	padding: 0 20px 0 60px;
	outline: none;
	text-transform: uppercase;
}


.loginBoxInner ul li input.user2 {
	width: 100%;
	border: 1px solid #fff;
	border-radius: 0;
	background: #fff url(../images/user.png) no-repeat 15px center;
	color: #232323;
	background-size: 27px 25px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	font-family: 'robotobold';
	font-size: 14px;
	padding: 0 20px 0 60px;
	outline: none;
}

.loginBoxInner ul li input.pass {
	width: 100%;
	border: 1px solid #fff;
	border-radius: 5px;
	background: #c2cfca url(../images/pass.png) no-repeat 25px center;
	height: 64px;
	line-height: 64px;
	box-sizing: border-box;
	font-family: 'robotobold';
	font-size: 14px;
	padding: 0 20px 0 100px;
	outline: none;
}
.submitBtn {
	padding-top: 30px;
	text-align: center;
}
.submitBtn input.submit {
	width: 100%;
	border: none;
	border-bottom: 3px solid #003520;
	border-radius: 3px 3px 6px 6px;
	background: #008752;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	font-family: 'robotobold';
	font-size: 18px;
	padding: 0;
	outline: none;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	max-width: 150px;
}
.forgot {
	text-align: center;
	color: #fff;
	font-family: 'robotoregular';
	padding-top: 20px;
}
.forgot a {
	color: #fff;
}

.tableReport {
	margin: 10px 0px 50px 0px;
	padding: 30px 15px;
	font-size: 20px;
	line-height: 24px;
}



.footer {
	background: #008752;
	text-align: center;
	font-size: 16px;
	color: #fff;
	font-family: 'robotoregular';
	padding: 20px 0;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.navbar-default {
	background: #fff;
	border: none;
	border-radius: 0;
	margin: 0;
	padding-bottom: 10px;
}
#BB-nav.affix {
	position: fixed;
	top: 0px;
	-webkit-transition: top 1s ease-in;
	transition: top 1s ease-out;
}
#BB-nav {
	width: 100%;
	background-color: #008752;
	z-index: 999;
}
.BB-nav {
	padding: 18px 0 0 130px;
}
.BB-nav li {
	padding: 0 0 0 60px!important;
}
.BB-nav li a {
	color: #fff!important;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'robotobold';
	padding: 0;
	background-color: none;
	line-height: 39px;
}
.BB-nav li:nth-child(1) a {
	background: url(../images/menu1.png) no-repeat left center;
	padding: 0 0 0 55px;
	background-color: none;
}
.BB-nav li:nth-child(1) a.active, .BB-nav li:nth-child(1) a:hover {
	color: #ffde01!important;
	background-color: none;
	background: url(../images/menu1_o.png) no-repeat left center;
}
.BB-nav li:nth-child(2) a {
	background: url(../images/menu2.png) no-repeat left center;
	padding: 0 0 0 55px;
	background-color: none;
}
.BB-nav li:nth-child(2) a.active, .BB-nav li:nth-child(2) a:hover {
	color: #ffde01!important;
	background-color: none;
	background: url(../images/menu2_o.png) no-repeat left center;
}
.BB-nav li:nth-child(3) a {
	background: url(../images/menu3.png) no-repeat left center;
	padding: 0 0 0 55px;
	background-color: none;
}
.BB-nav li:nth-child(3) a.active, .BB-nav li:nth-child(3) a:hover {
	color: #ffde01!important;
	background-color: none;
	background: url(../images/menu3_o.png) no-repeat left center;
}
.info {
	background: url(../images/down1.png) no-repeat right center;
	font-size: 16px;
	font-family: 'robotobold';
	color: #fff;
	text-transform: uppercase;
	float: right;
	padding-right: 34px;
	margin-top: 30px;
}
.navbar-nav>li>a {
	padding: 5px 0 0 0;
}
.topCont {
	padding: 60px 0 120px;
}
.mtTtl {
	text-align: center;
	background: url(../images/line.png) no-repeat center bottom;
	padding: 0 0 10px 0;
	font-family: 'robotoblack';
	color: #505050;
	font-size: 36px;
	text-transform: uppercase;
}



.topContBox {
	padding-top: 50px;
}
.topContL {
	margin-top: 30px;
	color: #666666;
}
.topContL p {
	font-size: 16px;
	color: #666666;
	width: 100%;
	max-width: 523px;
	line-height: 24px;
}
.topContR {
	text-align: center;
	margin-top: 30px;
}
.topContR img {
	max-width: 100%;
	float: right;
}
.topContBtn {
	padding-top: 60px;
}
.topContBtn a {
	display: inline-block;
	background: #008752;
	color: #fff;
	height: 50px;
	line-height: 50px;
	padding: 0 70px;
	font-size: 18px;
	font-family: 'robotobold';
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px;
}
.topContBtn a:hover {
	text-decoration: none;
	color: #ffde01;
}

.topContBtn input {
	display: inline-block;
	background: #008752;
	color: #fff;
	height: 50px;
	line-height: 50px;
	padding: 0 70px;
	font-size: 18px;
	font-family: 'robotobold';
	color: #fff;
	text-transform: uppercase;
	border-radius: 5px;
	border: solid 1px #008752;
}
.topContBtn input:hover {
	text-decoration: none;
	color: #ffde01;
}

.nopbai {
	float: right;
}



.winner {
	padding: 50px 0 120px;
}
.winnerBox {
	border: 1px solid #e4e8ee;
}
.winnerBox h2 {
	text-align: center;
	border-top: 1px solid #e4e8ee;
	color: #262c38;
	font-size: 24px;
	font-family: 'robotobold';
	background: #f7f8fc;
	padding: 45px 15px;
}
.winnerImg {
	text-align: center;
	padding: 50px 0 40px 0;
}
.winnerImg img {
	max-width: 100%;
}
.winnerTxt {
	text-align: center;
	font-size: 12px;
	font-family: 'robotobold';
	color: #008752;
	text-transform: uppercase;
	padding-bottom: 50px;
}
.winnerTxt span {
	display: block;
	text-align: center;
	font-size: 34px;
	font-family: 'robotoblack';
	color: #008752;
	padding-top: 10px;
}


/* thong tin thi */
.welcome_note {
	list-style:circle;
	margin: 0px;
	padding: 0px;
}

.welcome_note li {
	font-size: 16px;
	line-height: 24px;
	margin: 5px 0px 5px 20px;
}

.topContL h2 {
	font-size: 20px;
	padding-bottom: 30px;
}
.topContL p {
	margin-bottom: 10px;
}




.ebrochure {
	padding: 70px 0 120px;
}
.ebrochureLst {
	text-align: center;
	padding-top: 25px;
}
.ebrochureLst li {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	margin: 25px 20px 0;
}
.ebrochureLst li a {
	color: #3c3c44;
	font-size: 16px;
	font-family: 'robotobold';
	text-transform: uppercase;
}
.ebrochureLst li a:hover, .ebrochureLst li a.active {
	color: #f64a00;
	text-decoration: none;
}
.ebrochureLst li a .ebrochureLstImg {
	border: 1px solid #008752;
	border-radius: 10px;
	height: 100px;
	display: block;
	width: 100px;
	margin-bottom: 25px;
}
.ebrochureLst li a:hover .ebrochureLstImg, .ebrochureLst li a.active .ebrochureLstImg {
	border: 1px solid #f64a00;
}
.ebrochureLst li:nth-child(1) a .ebrochureLstImg {
	background: url(../images/ebrochure1.png) no-repeat center center;
	background-size: 30px 35px;
}
.ebrochureLst li:nth-child(1) a:hover .ebrochureLstImg, .ebrochureLst li:nth-child(1) a.active .ebrochureLstImg {
	background: url(../images/ebrochure1_o.png) no-repeat center center;
	background-size: 30px 35px;
}
.ebrochureLst li:nth-child(2) a .ebrochureLstImg {
	background: url(../images/ebrochure2.png) no-repeat center center;
	background-size: 30px 35px;
}
.ebrochureLst li:nth-child(2) a:hover .ebrochureLstImg, .ebrochureLst li:nth-child(2) a.active .ebrochureLstImg {
	background: url(../images/ebrochure2_o.png) no-repeat center center;
	background-size: 30px 35px;
}
.ebrochureLst li:nth-child(3) a .ebrochureLstImg {
	background: url(../images/ebrochure3.png) no-repeat center center;
	background-size: 30px 35px;
}
.ebrochureLst li:nth-child(3) a:hover .ebrochureLstImg, .ebrochureLst li:nth-child(3) a.active .ebrochureLstImg {
	background: url(../images/ebrochure3_o.png) no-repeat center center;
	background-size: 30px 35px;
}
.ebrochureLst li:nth-child(4) a .ebrochureLstImg {
	background: url(../images/ebrochure4.png) no-repeat center center;
	background-size: 30px 35px;
}
.ebrochureLst li:nth-child(4) a:hover .ebrochureLstImg, .ebrochureLst li:nth-child(4) a.active .ebrochureLstImg {
	background: url(../images/ebrochure4_o.png) no-repeat center center;
	background-size: 30px 35px;
}
.ebrochureCont {
	margin-top: 50px;
}
.ebrochureContLst {
}
.ebrochureContLst li {
	background: #fafafa;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #fff;
	padding: 20px;
	float: left;
	width: 49%;
	margin-bottom: 20px;
}
.ebrochureContLst li:nth-child(2n) {
	float: right;
}
.ebrochureContLstL {
	float: left;
	width: calc(100% - 250px);
}
.ebrochureContLstImg {
	float: left;
	width: 100px;
	height: 100px;
	border: 5px solid #e3e3e3;
	overflow: hidden;
	border-radius: 50%;
}
.ebrochureContLstImg img {
	width: 100%;
}
.ebrochureContLstTxt {
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding-left: 0;
}
.ebrochureContLstTxt h3 {
	color: #12162d;
	font-size: 18px;
	font-family: 'robotobold';
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
}
.ebrochureContLstTxt h3 a {
	color: #12162d;
}
.ebrochureContLstTxt h3 a:hover {
	color: #f64a00;
	text-decoration: none;
}
.ebrochureContLstTxt p {
	color: #666;
	font-size: 14px;
	font-family: 'robotobold';
}
.ebrochureContLstTxt p a {
	color: #008752;
}
.ebrochureContLstTxt a:hover {
	color: #f64a00;
	text-decoration: none;
}
.ebrochureContLstR {
	float: right;
	width: 235px;
}
.ebrochureContLstV {
	background: url(../images/view.png) no-repeat 0 center;
	color: #adadad;
	font-size: 18px;
	border-right: 1px solid #adadad;
	padding-left: 46px;
	padding-right: 15px;
	line-height: 31px;
}
.ebrochureContLstV:hover {
	background: url(../images/view_o.png) no-repeat 0 center;
	color: #008752;
	text-decoration: none;
}
.ebrochureContLstZ {
	background: url(../images/down.png) no-repeat 0 center;
	color: #f64a00;
	font-size: 18px;
	padding-left: 33px;
	line-height: 31px;
	margin-left: 18px;
}
.ebrochureContLstZ:hover {
	color: #f64a00;
}
.ebrochureContLstD {
	color: #12162d;
	font-size: 14px;
	padding-top: 0;
}
.pageLst {
	padding-top: 50px;
	text-align: center;
}
.pageLst li {
	display: inline-block;
}
.pageLst li a {
	display: block;
	color: #99a6bb;
	line-height: 42px;
	width: 46px;
	height: 42px;
	border: 1px solid #e4e8ee;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
}
.pageLst li a:hover, .pageLst li a.active {
	border: 1px solid #008752;
	background: #008752;
	color: #fff;
	font-family: 'robotobold';
	text-decoration: none;
}
.lst {
	padding: 70px 0 120px;
}
.name {
	text-align: center;
	line-height: 38px;
	color: #008752;
	font-family: 'robotobold';
	font-size: 26px;
	text-transform: uppercase;
	margin-top: 35px;
}
.name img {
	margin-right: 20px;
}
.lstTab {
	width: 100%;
	margin-top: 40px;
}
.lstTabTtl {
	background: #f0f3f6;
}
.lstTabTtl li {
	float: left;
	padding: 15px;
	color: #262c38;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'robotoregular';
	box-sizing: border-box;
}
.lstTabTtl li:nth-child(1) {
	width: calc(100% - 300px);
	text-align: left;
	float: left;
	padding-left: 60px;
}
.lstTabTtl li:nth-child(2) {
	width: 170px;
	text-align: center;
	float: left;
}
.lstTabTtl li:nth-child(3) {
	width: 130px;
	text-align: center;
	float: left;
}
.lstTabLst {
}
.lstTabLst li {
	border: 1px solid #e4e8ee;
	box-sizing: border-box;
	margin-top: 20px;
}
.lstTabLst li div.col1 {
	width: calc(100% - 300px);
	float: left;
	box-sizing: border-box;
	padding: 15px;
	padding-left: 40px;
	padding-top: 35px;
}
.lstTabLst li div.col1 a {
	color: #2b2b2b;
	font-size: 18px;
	font-family: 'robotobold';
	text-transform: uppercase;
}
.lstTabLst li div.col1 a em {
	color: #2b2b2b;
	font-size: 18px;
	font-family: 'robotobold';
	text-transform: uppercase;
	font-style: normal;
	float: left;
	width: 110px;
}
.lstTabLst li div.col1 a span {
	color: #6e6e6e;
	font-size: 18px;
	font-family: 'robotobold';
	text-transform: none;
	display: inline-block;
	padding-left: 0;
	float: left;
	width: calc(100% - 110px);
}
.lstTabLst li div.col1 a:hover {
	text-decoration: none;
	color: #ff6a2a;
}
.lstTabLst li div.col1 a:hover span {
	color: #ff6a2a;
}
.lstTabLst li div.col1 a:hover em {
	color: #ff6a2a;
}
.lstTabLst li div.col2 {
	width: 170px;
	text-align: center;
	float: left;
	box-sizing: border-box;
	padding: 15px;
}
.lstTabLst li div.col2 p {
	text-align: center;
	line-height: 18px;
	color: #262c38;
	font-size: 14px;
	font-family: 'robotobold';
	padding-top: 20px;
}
.lstTabLst li div.col2 p img {
	margin-right: 15px;
}
.lstTabLst li div.col3 {
	width: 130px;
	text-align: center;
	float: left;
	box-sizing: border-box;
	padding: 15px;
}
.lstTabLst li div.col3 p {
	height: 57px;
	width: 57px;
	border: 1px solid #b2b2b2;
	text-align: center;
	border-radius: 50%;
	color: #ff6a2a;
	font-size: 14px;
	box-sizing: border-box;
	padding-top: 10px;
	margin: 0 auto;
}
.lstTabLst li div.col3 p span {
	display: block;
	color: #ff6a2a;
	font-size: 18px;
	font-family: 'robotobold';
}
.tl {
	padding: 30px 0 120px;
}
.time {
	text-align: center;
	color: #fe5722;
	font-size: 18px;
	font-family: 'robotobold';
	width: 100%;
	margin: 0px auto;
}
.time img {
	margin-right: 15px;
}
.tlBox {
	border: 1px solid #e4e8ee;
	margin-top: 35px;
}
.tlTtl {
	background: #f7f8fc;
	border-bottom: 1px solid #e4e8ee;
	padding: 15px 25px;
}
.tlTtlL {
	float: left;
	border: 1px solid #008752;
	border-radius: 10px;
	width: 110px;
	text-align: center;
	box-sizing: border-box;
	color: #008752;
	font-size: 34px;
	font-family: 'robotoblack';
	background: #fff;
	text-transform: uppercase;
	padding: 15px 0;
}
.tlTtlL span {
	font-size: 12px;
	font-family: 'robotobold';
	display: block;
}
.tlTtlR {
	width: 100%;
	color: #262c38;
	font-size: 24px;
	font-family: 'robotobold';
	padding-top: 0;
	padding-left: 130px;
}

.tlTtlReport {
	width: 100%;
	color: #262c38;
	font-size: 18px;
	font-family: 'robotobold';
	padding-top: 10px;
	padding-left: 0px;
}

.anwser {
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	margin: 30px auto;
}
.anwserBtn {
}
.anwserBtn input {
	background: #008752;
	border-radius: 3px;
	color: #fff;
/*	height: 39px;
	line-height: 39px; */
	border: none;
	/*padding: 0 40px; */
	display: inline-block;
	outline: none;
	/*font-size: 18px; */
	/*font-family: 'robotobold'; 
	text-transform: uppercase;*/
}
.anwserLst li {
	color: #626262;
	font-size: 16px;
	position: relative;
	padding-bottom: 20px;
}

.anwserLstReport {
	margin: 10px 0px 20px 20px;
}

.anwserLstReport li {
	color: #626262;
	font-size: 16px;
	position: relative;
	padding-bottom: 10px;
}

.anwserLst li input[type=radio] {
	position: absolute;
	visibility: hidden;
}
.anwserLst li label {
	display: inline-block;
	position: relative;
	padding: 10px 15px 10px 50px;
	margin: 0;
	z-index: 9;
	cursor: pointer;
	color: #626262;
	font-size: 16px;
	font-weight: normal;
	border-radius: 5px;
}
.anwserLst li label span {
	color: #008752;
	font-size: 24px;
	font-family: 'robotobold';
	display: inline-block;
	line-height: 20px;
	padding-right: 18px;
}
.anwserLst li:hover label {
	color: #fff;
	background: #008752;
}
.anwserLst li .check {
	background: url(../images/check.png) no-repeat 0 0;
	display: block;
	position: absolute;
	height: 18px;
	width: 18px;
	top: 10px;
	left: 15px;
	z-index: 50;
	pointer-events: none;
}
/*.anwserLst li:hover .check {
	background: url(../images/checked.png) no-repeat 0 0;
}*/
.anwserLst li input[type=radio]:checked ~ .check {
	background: url(../images/checked.png) no-repeat 0 0;
}
.anwserLst li input[type=radio]:checked ~ .check::before {
	background: #0DFF92;
}
.anwserLst li input[type=radio]:checked ~ label {
	color: #4caf50;
}
.anwserLst li:hover input[type=radio]:checked ~ label {
	color: #fff;
}

.waringNoCheck {
	padding: 15px 0px;
}
.ebrochureS {
	margin: 20px auto 0;
	width: 100%;
	max-width: 530px;
	border: 1px solid #008752;
}
.ebrochureS button {
	float: right;
	background: #008752;
	height: 36px;
	line-height: 36px;
	border: none;
	cursor: pointer;
	text-align: center;
	width: 50px;
	outline: none;
}
.ebrochureS button img {
	vertical-align: middle;
}
.ebrochureS input {
	float: left;
	background: none;
	height: 36px;
	line-height: 36px;
	border: none;
	width: calc(100% - 50px);
	box-sizing: border-box;
	outline: none;
	padding: 0 10px;
}
.select {
	position: relative;
	z-index: 10000;
	border: 1px solid #fff;
	border-radius: 0;
	background: #c2cfca;
}
.select span {
	display: none;
}
.dropdown dd, .dropdown dt, .dropdown ul {
	margin: 0px;
	padding: 0px;
}
.dropdown dd {
	position: relative;
}
.dropdown a, .dropdown a:visited {
	color: #161616;
	text-decoration: none;
	outline: none;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
	font-family: 'robotobold';
	line-height: 40px;
	padding: 0 40px 0 20px;
}
.dropdown a:hover {
	color: #161616;
}
.dropdown dt a {
	background: url(../images/arrow.png) no-repeat right 10px;
	display: block;
	padding-right: 0;
	width: 100%;
	height: 40px;
	font-family: 'robotobold';
}
.dropdown dt img {
	margin-right: 10px;
}
.dropdown dt a span {
	cursor: pointer;
	display: block;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	font-family: 'robotobold';
}
.dropdown dd ul {
	background: #eee;
	display: none;
	left: 0px;
	padding: 0px;
	position: absolute;
	top: 0;
	width: auto;
	list-style: none;
	width: 100%;
	padding: 0;
}
.dropdown span.value {
	display: none;
}
.dropdown dd ul li {
	margin: 0;
	padding: 0;
}
.dropdown dd ul li a {
	padding: 0 20px;
	display: block;
}
.dropdown dd ul li a:hover {
	background: #008752;
	color: #fff;
}
.dropdown dd ul li a img {
	margin-right: 10px;
}
 @media (max-width: 1200px) {
.BB-nav {
	padding: 18px 0 0 50px;
}
}
@media (max-width: 990px) {
.BB-nav {
	padding: 18px 0 0 20px;
}
.BB-nav {
	padding-top: 21px;
}
.BB-nav li {
	padding: 0 0 0 20px!important;
}
.BB-nav li a {
	background-size: 20%!important;
	padding-left: 40px!important;
}
.ebrochureLst li {
	margin: 25px 15px 0;
}
.ebrochureContLst li:nth-child(2n), .ebrochureContLst li {
	float: none;
	width: 100%;
	margin-bottom: 0;
	padding: 15px;
}
}
@media (max-width: 767px) {
.logo img {
	height: 40px;
}
.navbar-toggle {
	margin-right: -15px;
}
.navbar-nav>li>a {
	padding: 0;
}
.info {
	float: none;
	position: absolute;
	top: 21px;
	margin: 0;
	padding-right: 20px;
	right: 65px;
}
.navbar-default {
	padding-bottom: 0;
}
.navbar-default .navbar-toggle {
	border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent!important;
}
.BB-nav {
	padding: 5px 0 0 0!important;
}
.BB-nav li {
	padding-left: 0!important;
}
.BB-nav li a {
	background-size: 21px 20px!important;
	padding-left: 30px!important;
}
.mtTtl {
	font-size: 24px;
}
.topContR img {
	max-width: 100%;
	float: none;
}
.topContBox {
	padding-top: 0;
}
.topContBtn {
	text-align: center;
	padding-top: 20px;
}
.winner {
	padding: 50px 0;
}
.winnerBox h2 {
	padding: 30px 15px;
	font-size: 20px;
	line-height: 24px;
}



.ebrochure {
	padding: 50px 0;
}
.ebrochureLst li {
	float: left;
	width: 50%;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}
.ebrochureLst li a .ebrochureLstImg {
	height: 100px;
	width: 100px;
	margin: 0 auto 15px;
}
.ebrochureContLstL {
	float: none;
	width: 100%;
}
.ebrochureContLstImg {
	width: 70px;
	height: 70px;
}
.ebrochureContLstTxt {
	width: 100%;
	padding-left: 0;
}
.ebrochureContLstR {
	float: none;
	width: 100%;
	padding-top: 15px;
}
.ebrochureContLstD {
	text-align: left;
	padding-top: 5px;
}
.lst {
	padding: 50px 0;
}
.lstTabTtl li:nth-child(1) {
	width: calc(100% - 160px);
	padding-left: 15px;
}
.lstTabTtl li:nth-child(2) {
	width: 90px;
	padding-left: 0;
	padding-right: 0;
}
.lstTabTtl li:nth-child(3) {
	width: 70px;
	padding-left: 0;
	padding-right: 0;
}
.lstTabLst li div.col1 {
	width: calc(100% - 160px);
	padding-left: 10px;
}
.lstTabLst li div.col1 a span {
	display: none;
}
.lstTabLst li div.col2 {
	width: 90px;
	padding-left: 0;
	padding-right: 0;
}
.lstTabLst li div.col2 p img {
	display: none;
}
.lstTabLst li div.col3 {
	width: 70px;
	padding-left: 0;
	padding-right: 0;
}
.tl {
	padding: 20px 0;
}
.tlTtl {
	padding: 15px;
}
.tlTtlL {
	width: 60px;
	font-size: 20px;
	padding: 15px 0;
}
.tlTtlR {
	font-size: 18px;
	padding-left:  80px;
}
.loginBox .copyright {
	padding-top: 50px;
	position: inherit;
}
.footer {
	position: inherit;
}
}
@media (max-width: 500px) {
}
